.filters {
  display: flex;
  max-width: var(--container-width);
  width: 95vw;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
}

.filtersCol {
  width: 100%;
  display: grid;
  gap: 2rem;
}

.filtersOptions {
  display: flex;
  justify-content: space-between;
}

.filtersOption {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.filtersOption:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.filtersOption:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.filtersOption input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filtersOption label {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: var(--background-accent);
  padding: 0.125rem;
}

.filtersOption > label:hover,
.filtersOption > label:focus-visible {
  cursor: pointer;
  background-color: var(--background-accent);
}

.filtersOption > input[type="radio"]:checked ~ label {
  background-color: var(--background-accent-light);
}

.frensCount {
  color: var(--text-color-light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.frensCount span {
  font-weight: 400;
  opacity: 0.5;
  margin: 0 10px 0 4px;
}

.spacer {
  flex-grow: 1;
}

.filtersSearch {
  border: none;
  background: none;
  font-weight: 500;
  height: 45px;
  font-size: 18px;
  outline: none;
  transition: 0.3s all;
  width: 100%;
  color: var(--text-color-light);
}

.removeButton {
  border-radius: 100%;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0ms, width 0s ease 0ms;
  cursor: pointer;
  padding: 5px;
}

.removeButton > svg {
  fill: var(--text-color);
}

.removeButton:hover {
  opacity: 0.6;
}

.removeButton.removeButtonHidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s, width 0s ease 0.3s;
  pointer-events: none;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--background-accent);
  padding: 11px 10px 10px 16px;
  border-radius: 40px;
  width: 225px;
  height: 45px;
  transition: 0.3s all;
  border: 1px solid var(--color-outline);
}

.searchWrapper:focus-within {
  background-color: var(--background-accent-light);
  width: 275px;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.mobileSearchButton,
.mobileSearchButtonWrapper {
  display: none;
}

.hide {
  opacity: 0.3;
}

@media screen and (max-width: 38.75em) {
  :not(.mobileSearchOpen).searchHasValue .searchWrapper {
    visibility: visible;
    width: 50%;
  }

  .spacer {
    display: none;
  }

  .searchWrapper {
    transition: opacity 0.3s ease, visibility 0s ease 0.3s, width 0s ease 0.3s,
      transform 0.3s ease, padding 0s ease 0.3s, margin 0s ease 0.3s;
    visibility: hidden;
    transform: translateX(-25px);
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }

  .filters {
    align-items: flex-end;
    width: 100%;
  }

  .rightSide {
    flex-direction: column;
    align-items: flex-end;
  }

  .frensCount {
    margin-bottom: 10px;
  }

  .frensCount > span:last-child {
    margin-right: 0;
  }

  .mobileSearchOpen .searchWrapper,
  .searchHasValue .searchWrapper {
    transition: opacity 0.3s ease, visibility 0s ease 0ms, width 0s ease 0ms,
      transform 0.3s ease, padding 0s ease 0ms, margin 0s ease 0ms;
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    padding: 11px 10px 10px 16px;
    margin: 0;
  }

  .mobileSearchOpen .searchWrapper {
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s ease 0ms, width 0s ease 0ms,
      transform 0.3s ease, padding 0s ease 0ms, margin 0s ease 0ms;
    width: 100%;
  }

  .mobileSearchButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: none;
    border: none;
  }

  .mobileSearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--background-accent-light);
    border: 1px solid var(--color-outline);
  }

  .mobileSearchButtonWrapper,
  .rightSide,
  .scrollToTop {
    transition: opacity 0.31s ease 0.31s, visibility 0.31s ease 0.31s,
      width 0s ease 0.301s, padding 0s ease 0.3s, margin 0s ease 0.3s !important;
    visibility: visible;
    opacity: initial;
    width: initial;
    margin: initial;
    padding: initial;
    margin-left: 0px;
  }

  .mobileSearchOpen .mobileSearchButtonWrapper,
  .mobileSearchOpen .rightSide,
  .mobileSearchOpen .scrollToTop,
  :not(.mobileSearchOpen).searchHasValue .mobileSearchButtonWrapper {
    transition: opacity 0s ease 0s, visibility 0s ease 0s, width 0s ease 0ms,
      padding 0s ease 0ms, margin 0s ease 0ms !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none;
    width: 0;
    padding: 0;
    margin: 0;
  }

  .mobileSearchOpen .mobileSearchButtonWrapper {
    margin-right: 0px;
  }

  :not(.mobileSearchOpen).searchHasValue .mobileSearchButtonWrapper {
    display: none;
  }
}
