.filters {
  display: flex;
  max-width: var(--container-width);
  width: 100%;
  margin-top: 2.5rem;
  flex-direction: row;
  justify-content: space-between;
}

.filtersCol {
  width: 100%;
  display: grid;
  gap: 2rem;
}

.filtersOptions {
  display: flex;
  justify-content: space-between;
}

.filtersOption {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.filtersOption:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

.filtersOption:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.filtersOption input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.filtersOption label {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #eaeaea;
  padding: 0.125rem;
}

.filtersOption > label:hover,
.filtersOption > label:focus-visible {
  cursor: pointer;
  background-color: #e4e4e4;
}

.filtersOption > input[type="radio"]:checked ~ label {
  background-color: #d8d8d8;
}

.frensCount {
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.frensCount span {
  font-weight: 400;
  opacity: 0.5;
  margin: 0 10px 0 4px;
}

.spacer {
  flex-grow: 1;
}

.filtersSearch {
  border: none;
  background: none;
  font-weight: 500;
  height: 45px;
  font-size: 18px;
  outline: none;
  transition: 0.3s all;
  width: 100%;
  color: #575757;
}

.removeButton {
  border-radius: 100%;
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0ms, width 0s ease 0ms;
  cursor: pointer;
}

.removeButton > svg {
  fill: #000000;
}

.removeButton:hover {
  opacity: 0.6;
}

.removeButton.removeButtonHidden {
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s, width 0s ease 0.3s;
  pointer-events: none;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eaeaea;
  padding: 11px 10px 10px 16px;
  border-radius: 40px;
  width: 175px;
  height: 45px;
  transition: 0.3s all;
}

.searchWrapper:focus-within {
  background-color: #e0e0e0;
  width: 250px;
}

.searchWrapper:focus-within .filtersSearch {
  color: #323232;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
