.footer {
  max-width: calc(var(--container-width) + min(10vw, 150px));
  width: 100%;
  margin: 0 auto;
  padding: 2rem min(5vw, 75px);
}

.footerContainer {
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 38.75em) {
  .footer {
    margin-bottom: 80px;
  }
}
