.footer {
  padding: 2rem 0;
}

.footerContainer {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 min(5vw, 75px);
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .footerContainer {
  }
}

@media screen and (max-width: 38.75em) {
  .footer {
    margin-bottom: 80px;
  }
}
