.legend {
  display: flex;
  margin-bottom: 0.75rem;
  align-items: center;
}

.legendColor {
  width: 1.5rem;
  height: 1.25rem;
  background-color: var(--color-background);
  margin-right: 0.325rem;
  border: 0.0625rem solid var(--color-outline);
}

.tableWrapper {
  max-width: calc(var(--container-width) + max(10vw, 150px));
  width: 100%;
  margin: 0 auto;
  padding: 0 max(5vw, 75px);
  position: relative;
  overflow-x: auto;
  transition: 0.3s all;
  background: linear-gradient(
    180deg,
    rgba(233, 234, 244, 1) 0%,
    rgba(247, 247, 247, 0) 100%
  );
  background-size: 100vw 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -300px;
}

.tableWrapper.noResultsWrapper {
  height: 20vh;
  overflow: visible;
  text-align: center;
}

.profiles {
  border-collapse: collapse;
  width: 100%;
  min-width: 30rem;
  border-style: hidden;
}

.profiles tr > td {
  font-size: 20px;
}

.profiles tr > *:first-child {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  width: 5.125rem;
}

.profiles tr > td:first-child {
  color: #717171;
}

.profiles tr > *:nth-child(2) {
  min-width: 15rem;
  width: 38rem;
}

.profiles tr > *:nth-child(3) {
  min-width: 16rem;
  width: 22rem;
}

.profiles tr > *:last-child {
  min-width: 6.25rem;
  padding-right: 1.5rem;
}

.tableWrapper th {
  color: rgba(113, 113, 113, 0.5);
}

.pfp {
  margin-left: -1rem;
  border-radius: 50%;
  background: linear-gradient(
    330.4deg,
    #44bcf0 4.54%,
    #628bf3 66.33%,
    #a099ff 148.85%
  );
  background-size: 34px;
  transition: 0.3s all;
}

.tableWrapper td svg {
  margin-left: 8px;
  transform: translateY(0.0625rem);
}

.profiles th,
.profiles td {
  text-align: left;
  padding: 0.725rem 0.5rem;
  border-bottom: 0.0625rem solid var(--color-outline);
}

.profiles .topAccount td {
  background: var(--color-background);
}

.profiles a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.profiles a:hover,
.profiles a:focus {
  opacity: 0.75;
  outline: none;
}

.profiles a:focus {
  text-decoration: underline;
}

.noResults {
  color: rgba(0, 0, 0, 0.2);
  font-size: 3.125rem;
  text-align: center;
  padding: 4rem 1rem;
  width: 100%;
  line-height: 1;
}

.ensProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ensName {
  margin-left: 10px;
}

.tableWrapper.showFixed {
  background-position: 0 0px;
}

@media screen and (max-width: 1024px) {
  .tableWrapper {
    padding: 0;
  }
}

@media screen and (max-width: 38.75em) {
  .tableWrapper {
    background: linear-gradient(
      0deg,
      rgba(233, 234, 244, 1) 0%,
      rgba(247, 247, 247, 0) 100%
    );
    background-size: 100vw 180px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 calc(100vh + 180px);
    padding: 0;
  }
  .tableWrapper.showFixed {
    background-position: 0 calc(100vh - 180px);
  }

  .profiles tr > *:first-child,
  .profiles tr > *:last-child {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  .tableWrapper td svg {
    display: none;
  }
  .no-results {
    font-size: 2rem;
  }
}

.tableWrapper.loading {
  filter: blur(5px) brightness(1.05);
}
