.legend {
  display: flex;
  margin-bottom: 0.75rem;
  align-items: center;
}

.legendColor {
  width: 1.5rem;
  height: 1.25rem;
  background-color: var(--background-base);
  margin-right: 0.325rem;
  border: 1px solid var(--color-outline);
}

.tableWrapper {
  max-width: calc(var(--container-width) + min(10vw, 150px));
  width: 100%;
  margin: 0 auto;
  padding: 0 min(5vw, 75px);
  position: relative;
  overflow-x: auto;
  transition: 0.3s all;
}

.tableWrapper.noResultsWrapper {
  height: 30vh;
  overflow: visible;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profiles {
  border-collapse: collapse;
  width: 100%;
  min-width: 30rem;
  border-style: hidden;
}

.profiles tr > td {
  position: relative;
  font-size: 20px;
  font-weight: 500;
}

.profiles tr > *:first-child {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  width: 5.125rem;
}

.profiles tr > td:first-child {
  color: var(--text-color-light);
}

.profiles tr > *:nth-child(2) {
  min-width: 15rem;
  width: 38rem;
}

.profiles tr > *:nth-child(3) {
  min-width: 16rem;
  width: 22rem;
}

.profiles tr > *:last-child {
  min-width: 6.25rem;
  padding-right: 1.5rem;
}

.tableWrapper th {
  color: var(--text-color-light);
  opacity: 0.5;
}

.newProfile {
  position: absolute;
  right: 0.65rem;
}

.newProfile:hover {
  cursor: pointer;
}

.newProfile:hover::after {
  content: 'This name was added in the last 24 hours.';
  position: absolute;
  bottom: 1rem;
  display: block;
  width: 15rem;
  background-color: var(--background-base);
  border: 1px solid var(--color-outline);
  border-radius: 0.625rem;
  font-size: 1.125rem;
  padding: 0.65rem;
  z-index: 100;
}

.pfp {
  margin-left: -1rem;
  border-radius: 50%;
  background: var(--avatar-gradient);
  background-size: 34px;
  transition: 0.3s all;
}

.tableWrapper td svg {
  margin-left: 8px;
  transform: translateY(0.0625rem);
}

.profiles th,
.profiles td {
  text-align: left;
  padding: 0.725rem 0.5rem;
  border-bottom: 0.0625rem solid var(--color-outline);
}

.profiles .topAccount td {
  background: var(--background-base);
}

.profiles a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.profiles a:hover,
.profiles a:focus {
  opacity: 0.75;
  outline: none;
}

.profiles a:focus {
  text-decoration: underline;
}

.noResults {
  color: var(--color-outline);
  font-size: 3.125rem;
  text-align: center;
  display: block;
}

.noResults > span {
  display: block;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.ensProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.link:hover,
.link:focus-visible {
  cursor: pointer;
  opacity: 0.75;
}

.ensName {
  margin-left: 10px;
}

@media screen and (max-width: 64em) {
  .tableWrapper {
    padding: 0;
  }
}

@media screen and (max-width: 38.75em) {
  .profiles tr > *:first-child,
  .profiles tr > *:last-child {
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  .newProfile {
    display: none;
  }
  .tableWrapper td svg {
    display: none;
  }
  .noResults {
    font-size: 2rem;
    padding: 0 1rem;
  }
  .noResults > span {
    font-size: 1rem;
  }
}

.tableWrapper.loading {
  filter: blur(5px) brightness(1.05);
}
