/* ----- Fonts ----- */

@font-face {
  font-family: "CircularXX";
  src: url("/fonts/CircularXXWeb-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  src: url("/fonts/CircularXXWeb-Book.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ----- CSS Resets ----- */
body {
  background: radial-gradient(
      40.48% 67.6% at 50% 32.4%,
      #ecf4ff 0%,
      #f7f7ff 52.77%,
      #f7f7f7 100%
    ),
    #ffffff;
  margin: 0;
  font-size: 100%;
  font-family: "CircularXX", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.4;
  color: #3f3f3f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* ----- Global ----- */
:root {
  --radius: 0.75rem;
  --color-background: #f0f1f5;
  --color-outline: #e8e9ed;
  --container-width: 75em;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1em;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 2.35rem;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

small {
  display: block;
  font-size: 87.5%;
  margin-bottom: 0.25em;
}

strong {
  font-weight: 600;
}

a {
  color: #7298f8;
}

label {
  display: block;
  opacity: 0.8;
  margin-bottom: 0.25rem;
}

a:hover {
  color: #5d80d6;
}

@media screen and (max-width: 45em) {
  h1 {
    font-size: 2rem;
  }
}
