/* ----- Fonts ----- */

@font-face {
  font-family: "CircularXX";
  src: url("/fonts/CircularXXWeb-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "CircularXX";
  src: url("/fonts/CircularXXWeb-Book.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* ----- CSS Resets ----- */
body {
  background: var(--background-gradient);
  margin: 0;
  font-size: 100%;
  font-family: "CircularXX", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.4;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* ----- Global ----- */
:root {
  --radius: 0.75rem;
  --container-width: 75em;
  --color-outline: #e8e9ed;

  --background-gradient: radial-gradient(
      40.48% 67.6% at 50% 32.4%,
      #ecf4ff 0%,
      #f7f7ff 52.77%,
      #f7f7f7 100%
    ),
    #ffffff;
  --background-accent: #EAEAEA;
  --background-accent-rgb: 234, 234, 234;
  --background-accent-light: #e0e0e0;
  --background-base: #ffffff;
  --modal-shadow: 188, 190, 195;

  --table-gradient: linear-gradient(
    180deg,
    rgba(233, 234, 244, 1) 0%,
    rgba(247, 247, 247, 0) 100%
  );
  --table-gradient-mobile: linear-gradient(
    0deg,
    rgba(233, 234, 244, 1) 0%,
    rgba(247, 247, 247, 0) 100%
  );
  --avatar-gradient: linear-gradient(
    330.4deg,
    #44bcf0 4.54%,
    #628bf3 66.33%,
    #a099ff 148.85%
  );

  --text-color: #3F3F3F;
  --text-color-light: #717171;
  --text-color-lighter: rgba(0, 0, 0, 0.23);
  --text-color-accent: #7298f8;
  --text-color-accent-200: #5d80d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-outline: rgba(73, 73, 73, 0.4);

    --background-gradient: radial-gradient(
      40.48% 67.6% at 50% 32.4%,
      #161A20 0%,
      #151617 52.77%,
      #151617 100%
    ),
    #141414;
    --background-accent: #101010;
    --background-accent-rgb: 16, 16, 16;
    --background-accent-light: #0D0D0D;
    --background-base: #000000;
    --modal-shadow: 32, 33, 35;

    --table-gradient: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0),
      rgb(17, 17, 17)
    );
    --table-gradient-mobile: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0),
      rgb(17, 17, 17)
    );

    --text-color: #E7E7E7;
    --text-color-light: #A1A1A1;
    --text-color-lighter: #6C6C6C;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1em;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 2.35rem;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 0;
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}

small {
  display: block;
  font-size: 87.5%;
  margin-bottom: 0.25em;
}

strong {
  font-weight: 600;
}

a {
  color: var(--text-color-accent);
}

label {
  display: block;
  opacity: 0.8;
  margin-bottom: 0.25rem;
}

a:hover {
  color: var(--text-color-accent-200);
}

@media screen and (max-width: 45em) {
  h1 {
    font-size: 2rem;
  }
}
