/* ----- Hero ----- */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2rem;
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

.heroTitle {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.heroTitleLink {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

.heroTitleLink:hover,
.heroTitleLink:focus-visible {
  cursor: pointer;
  color: inherit;
  opacity: 0.85;
}

.heroSubtitle {
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 18px;
  margin-bottom: 20px;
}

.heroHighlight {
  color: var(--text-color-accent);
}

.heroTwitter {
  background-color: var(--background-base);
  border-radius: 50%;
  padding: 0.25rem;
  width: 2.875rem;
  height: 2.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--color-outline);
  margin-left: 1rem;
  text-decoration: none;
  color: currentColor;
  fill: #1da1f2;
}

.heroTwitter:hover,
.heroTwitter:focus-visible {
  opacity: 0.85;
}

.floor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 48rem;
  margin-top: 18px;
}

.floorSection {
  padding: 0.125rem 2.5rem;
}

.floorSection:nth-child(2) {
  border-left: 1px solid var(--color-outline);
  border-right: 1px solid var(--color-outline);
}

.floorSectionLabel {
  opacity: 0.6;
}

.floorNumber {
  display: block;
  font-weight: 600;
  font-size: 2rem;
}

.floorFollowersLabel {
  color: var(--text-color-light);
}

/* fixed header */

.hideFixed {
  visibility: hidden;
  height: 0;
}

.fixedHeaderWrapper {
  width: 100%;
  height: 120px;
  background: var(--background-gradient);
  background-size: 100vw 200%;
  background-attachment: scroll;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  align-items: center;
  justify-content: center;
}

.fixedHeader {
  max-width: calc(var(--container-width) + 100px);
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fixedHeader .heroTitle {
  flex-direction: row;
  align-items: center;
}

.fixedHeader .heroTitle {
  margin-bottom: 0;
}

.fixedHeader .heroTitle h1 {
  font-size: 24px;
  margin-bottom: 0;
}

.fixedHeader .heroTwitter {
  margin-left: 8px;
  margin-right: 8px;
}

.fixedHeader .scrollToTop {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  opacity: 0.3;
  font-weight: 400;
  position: absolute;
  cursor: pointer;
  transition: 0.15s all;
  padding: 10px;
}

.fixedHeader .scrollToTop svg {
  margin-bottom: 4px;
  opacity: 0.66;
}

.fixedHeader .scrollToTop:hover {
  opacity: 0.6;
}

.headerPlaceholder {
  height: 120px;
}

@media screen and (max-width: 1024px) {
  .mobHidden {
    display: none !important;
  }
  .fixedHeader .heroTitle {
    display: none;
  }
}

@media screen and (max-width: 50em) {
  .floorSection {
    padding: 1.125rem 1.5rem;
  }
}

@media screen and (max-width: 38.75em) {
  .floorFollowersLabel {
    display: none;
  }
  .hero {
    align-items: flex-start;
    margin: 0 8vw;
    padding: 40px 0 10px 0;
  }
  .heroHighlight {
    display: block;
    font-size: 180%;
  }
  .floor {
    margin-top: 0.5rem;
    justify-content: space-between;
  }
  .floorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
  }
  .floorSectionLabel {
    font-size: 0.875rem;
  }
  .floorNumber {
    font-size: 1.5rem;
  }
  .heroTitle {
    align-items: flex-end;
  }
  .heroTwitter {
    transform: translateY(-0.5rem);
    width: 2.5rem;
    height: 2.5rem;
  }
  .floorNumber {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  /* fixed header */

  .fixedHeaderWrapper {
    height: 80px;
    left: 0;
    bottom: 0;
    top: initial;
  }

  .fixedHeader {
    width: 90%;
    justify-content: flex-start;
  }

  .fixedHeader .heroTitle {
    display: none;
  }

  .fixedHeader > button {
    margin-right: 16px;
  }

  .fixedHeader .scrollToTop {
    position: fixed;
    right: 20px;
  }

  .headerPlaceholder {
    height: 80px;
  }
}
