.layout.removeMargin > footer {
  margin-bottom: 0px;
}

.showFixedGradient {
  background: var(--table-gradient);
  background-size: 100vw 180px;
  background-repeat: no-repeat;
  height: 180px;
  max-width: var(--container-width);
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: -180px;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.2s ease;
}

.showFixedGradient.showFixed {
  opacity: 1;
  visibility: visible;
  top: 120px;
}

@media screen and (max-width: 38.75em) {
  .showFixedGradient {
    background: var(--table-gradient);
    background-size: 100vw 180px;
    height: 180px;
    top: unset !important;
    bottom: -80px;
  }

  .showFixedGradient.showFixed {
    bottom: 80px;
  }

  .showFixedGradient.reachedFooter {
    bottom: -80px;
    opacity: 0;
    visibility: hidden;
  }
}
