/* ----- CSS Resets ----- */
body {
	background: radial-gradient(40.48% 67.6% at 50% 32.4%, #ECF4FF 0%, #F7F7FF 52.77%, #F7F7F7 100%), #FFFFFF;
	margin: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	line-height: 1.4;
	color: #3F3F3F;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

/* ----- Global ----- */
:root {
	--radius: 0.75rem;
	--color-background: #f0f1f5;
	--color-outline: #e8e9ed;
	--container-width: 75rem;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 1em;
	line-height: 1.2;
	font-weight: 600;
}

h1 {
	font-size: 2.15rem;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 1.625rem;
}

h3 {
	font-size: 1.375rem;
}

h4 {
	font-size: 1.25rem;
}

small {
	display: block;
	font-size: 87.5%;
	margin-bottom: 0.25em;
}

strong {
	font-weight: 600;
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 1.5rem;
}

@media screen and (max-width: 45em) {
	h1 {
		font-size: 2rem;
	}
}

/* ----- Hero ----- */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0 2rem;
	border-radius: var(--radius);
	margin-bottom: 1rem;
}

.hero__title {
	display: flex;
	align-items: baseline;
	margin-bottom: 0.5rem;
}

.hero__subtitle {
	color: #717171;
}

.hero__highlight {
	color: #7298F8;
}

.hero__title a {
	background-color: #FFFFFF;
	border-radius: 50%;
	padding: 0.25rem;
	width: 2.875rem;
	height: 2.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: .0625rem solid rgba(0, 0, 0, 0.1);
	margin-left: 1rem;
	text-decoration: none;
	color: currentColor;
	fill: #1DA1F2;
}

.floor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	max-width: 48rem;
	margin-top: 2rem;
	gap: 1rem;
}

.floor__section {
	padding: 0.125rem 2.5rem;
}

.floor__section-label {
	opacity: 0.6;
}

@media screen and (min-width: 38.75em) {
	.floor__section:nth-child(2) {
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.floor__number {
	display: block;
	font-weight: 600;
	font-size: 2rem;
	color: #0F0F0F;
}

@media screen and (max-width: 50em) {
	.floor__section {
		padding: 1.125rem 1.5rem;
	}
}

@media screen and (max-width: 38.75em) {
	.floor__followers-label {
		display: none;
	}
	.hero {
		align-items: flex-start;
		margin-bottom: 0.5rem;
	}
	.hero__highlight {
		display: block;
		font-size: 180%;
	}
	.floor {
		margin-top: 0.5rem;
	}
	.floor__section {
		align-content: center;
		padding: 1rem 0 0;
	}
	.floor__section-label {
		font-size: .875rem;
	}
	.floor__number {
		font-size: 1.5rem;
	}
	.hero__title {
		align-items: flex-end;
	}
	.hero__title a {
		transform: translateY(-0.5rem);
		width: 2.5rem;
		height: 2.5rem;
	}
}

/* ----- Table ----- */
.legend {
	display: flex;
	margin-bottom: 0.75rem;
	align-items: center;
}

.legend__color {
	width: 1.5rem;
	height: 1.25rem;
	background-color: var(--color-background);
	margin-right: 0.325rem;
	border: 0.0625rem solid var(--color-outline);
}

.table-wrapper {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow-x: scroll;
}

.profiles {
	border-collapse: collapse;
	width: 100%;
	min-width: 30rem;
	border-style: hidden;
}

.profiles tr > *:first-child {
	text-align: center;
	padding-left: 1.5rem;
	padding-right: 2.5rem;
}

.profiles tr > td:first-child {
	color: #717171;
}

.profiles tr > *:nth-child(2) {
	min-width: 6.25rem;
}

.profiles tr > *:nth-child(3) {
	min-width: 14rem;
}

.profiles tr > *:last-child {
	min-width: 6.25rem;
	padding-right: 1.5rem;
}

th {
	color: #717171;
	opacity: 0.5;
}

.pfp {
	border-radius: 50%;
	width: 1.875rem;
	margin-right: 0.3125rem;
	vertical-align: middle;
}

td svg {
	margin-left: 0.125rem;
	transform: translateY(0.0625rem);
}

.profiles th,
.profiles td {
	text-align: left;
	padding: 0.875rem 0.5rem;
	border-bottom: 0.0625rem solid var(--color-outline);
}

.profiles .top-account td {
	background: var(--color-background);
}

.profiles a {
	text-decoration: none;
	color: inherit;
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.profiles a:hover,
.profiles a:focus {
	opacity: 0.6;
	outline: none;
}

.profiles a:focus {
	text-decoration: underline;
}

@media screen and (max-width: 38.75em) {
	.profiles tr > *:first-child,
	.profiles tr > *:last-child {
		padding-left: 1rem;
		padding-right: 1.5rem;
	}
}

/* ----- Miscellaneous ----- */
footer {
	padding: 2rem 0;
}
